@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral-100: #fcfcfc;
    --neutral-900: #010101;

    --primary-100: #01a29f;
    --primary-300: #038582;
    --primary-500: #056766;
    --primary-700: #034a48;
    --primary-900: #022d2c;

    --background: #f0f5f4;
  }

  html {
    @apply bg-primary-500;
  }

  body {
    @apply bg-neutral-100 text-neutral-900;
  }

  .link {
    @apply font-bold text-primary-500;
  }
}
